---
layout: default
---
     <img class="home-icon" src="assets/images/villanovalogo.png">
     <a href="https://library.villanova.edu/Find/Record/vudl:468983" target="_blank"><img class="home-img" src="images/Panorama_VillanovaCollegeArmyUnit_WWI.png"></a>
     <p class="caption">Selection of Panorama, Villanova College Army Unit World War I, [1918].</p>

     <!-- <h1 class="home-title"> {{ site.title }} </h1> -->
     <h1 class="home-title">Honoring the Fallen: An Interactive Memorial Map</h1>
     <hr />
     {{ content }}

     {% include footer.html %}
